html{
    background-color: black;
    
}
body{
    margin: auto;
    max-width: 800px;
    background-color: black;

}
.bg-container{
    object-fit: fill;
    background-size: 800px 600px;
    position: absolute;
    top:0px;
    background-image: url('personal.jpg');
    height:600px;
    width: 800px;
}
.hovermonitor{
 
    position:absolute;
    display:flex;
    height: 50px;
    width: 50px;
    left:570px;
    top:530px;
    rotate: -9deg;
}
.hovermonitor:hover{

    border-style: solid;
    border-color: white;
}
.hoverbook{

    position:absolute;
    display:flex;
    height: 180px;
    width: 50px;
    left:635px;
    top:370px;
    rotate: -6deg;
}
.hoverbook:hover{
    border-style: solid;
    border-color: white;
    
}
.hovercd{
    position:absolute;
    display:flex;
    height: 110px;
    width: 290px;
    left:380px;
    top:370px;
    rotate: 5deg;
    
}
.hovercd:hover{
    
    box-shadow: 2px 2px 52px 0px rgba(255,255,255,0.75), 2px 2px 26px 10px rgba(255,255,255,0.25) inset;
    -webkit-box-shadow: 2px 2px 26px 10px rgba(255,255,255,0.25) inset, 2px 2px 52px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 2px 2px 26px 10px rgba(255,255,255,0.25) inset, 2px 2px 52px 0px rgba(255,255,255,0.75);
    
}
.nav{
    background-image: url(nav.jpg);
    position:absolute;
    display:flex;
    height: 150px;
    width: 800px;
    left:0px;
    top:600px;
}
.back{
    
    background-image: url(arrow.jpg);
    position:absolute;
    display:flex;
    height: 130px;
    width: 130px;
    left:170px;
    top:610px;
    background-size: contain;
}
.back:hover{
    border-style: ridge;
}
.home{
    
    background-image: url(home.jpg);
    position:absolute;
    display:flex;
    height: 130px;
    width: 130px;
    left:20px;
    top:610px;
    background-size: contain;
}
.home:hover{
    border-style: ridge;
}