html{
    background-color: black;
}
body{
    margin: auto;
    max-width: 800px;
    background-color: black;

}
.bg-container{
    object-fit: cover;
    background-size: 800px 600px;
    position: absolute;
    top:100px;
    background-image: url('zoom.jpg');
    background-size:fill;
    height:600px;
    width: 800px;
}
.hovermonitor{

    position:absolute;
    display:flex;
    height: 100px;
    width: 120px;
    left:650px;
    top:490px;
    rotate: 9deg;
}
.hovermonitor:hover{
    box-shadow: 2px 2px 52px 0px rgba(255,255,255,0.75), 2px 2px 26px 0px rgba(255,255,255,0.75) inset;
    -webkit-box-shadow: 2px 2px 26px 0px rgba(255,255,255,0.75) inset, 2px 2px 52px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 2px 2px 26px 0px rgba(255,255,255,0.75) inset, 2px 2px 52px 0px rgba(255,255,255,0.75);
}
.hoverbook{

    position:absolute;
    display:flex;
    height: 80px;
    width: 100px;
    left:485px;
    top:490px;
    rotate: -6deg;
}
.hoverbook:hover{
    box-shadow: 2px 2px 52px 0px rgba(255,255,255,0.75), 2px 2px 26px 0px rgba(255,255,255,0.75) inset;
    -webkit-box-shadow: 2px 2px 26px 0px rgba(255,255,255,0.75) inset, 2px 2px 52px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 2px 2px 26px 0px rgba(255,255,255,0.75) inset, 2px 2px 52px 0px rgba(255,255,255,0.75);
}
.hovercd{
    position:absolute;
    display:flex;
    height: 70px;
    width: 70px;
    left:580px;
    top:370px;
    rotate: -2deg;
}
.hovercd:hover{
    
    border-style: solid;
    border-color: white;
}
.vid{
    position:absolute;
    display:flex;
    height: 180px;
    width: 298px;
    left:245px;
    top:100px;
    rotate: 4deg;
    z-index: 1;
    object-fit: fill;
    border: 1px solid #ccc;

    /* each value for each corner clockwise starting from top left */
    -webkit-border-radius: 10px 3px 0 20px;
            border-radius: 10px 3px 0 20px;
    
}
.scan{
    pointer-events: none;
    background-image: url(scan.gif);
    opacity: 0.3;
    position:absolute;
    display:flex;
    height: 180px;
    width: 298px;
    left:245px;
    top:100px;
    rotate: 4deg;
    z-index: 5;
    
}
