html{
    background-color: black;
}
body{
    margin: auto;
    max-width: 800px;
    background-color: black;

}
.bg-container{
    object-fit: cover;
    background-size: 800px 600px;
    position: absolute;
    top:10px;
    background-image: url('zoom.jpg');
    background-size:fill;
    height:600px;
    width: 800px;
}
.hovermouse{

    position:absolute;
    display:flex;
    height: 110px;
    width: 100px;
    left:645px;
    top:480px;
    rotate: 9deg;
}
.hovermouse:hover{
    box-shadow: 2px 2px 52px 0px rgba(255,255,255,0.75), 2px 2px 26px 10px rgba(255,255,255,0.25) inset;
    -webkit-box-shadow: 2px 2px 26px 10px rgba(255,255,255,0.25) inset, 2px 2px 52px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 2px 2px 26px 10px rgba(255,255,255,0.25) inset, 2px 2px 52px 0px rgba(255,255,255,0.75);
    border-radius: 10px 10px 10px 10px;
}
.hoverbook{

    position:absolute;
    display:flex;
    height: 80px;
    width: 100px;
    left:485px;
    top:510px;
    rotate: -6deg;
}
.hoverbook:hover{
    box-shadow: 2px 2px 52px 0px rgba(255,255,255,0.75), 2px 2px 26px 10px rgba(255,255,255,0.25) inset;
    -webkit-box-shadow: 2px 2px 26px 10px rgba(255,255,255,0.25) inset, 2px 2px 52px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 2px 2px 26px 10px rgba(255,255,255,0.25) inset, 2px 2px 52px 0px rgba(255,255,255,0.75);
}
.hovercd{
    position:absolute;
    display:flex;
    height: 70px;
    width: 70px;
    left:580px;
    top:370px;
    rotate: -2deg;
}
.hovercd:hover{
    
    border-style: solid;
    border-color: white;
}
.vid{
    position:absolute;
    display:flex;
    height: 170px;
    width: 298px;
    left:246px;
    top:110px;

    z-index: 1;
    object-fit: fill;
    border: 1px solid rgba(255,255,255,0.75);
     box-shadow: 2px 2px 52px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: 2px 2px 52px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 2px 2px 52px 0px rgba(255,255,255,0.75);
    transform: skew(-6deg, 8deg);
    /* each value for each corner clockwise starting from top left */
    rotate:-3deg;
            border-radius: 22px 7px 15px 22px;

}
.scan{
    z-index: 5;
    pointer-events: none;
    background-image: url(scan.gif);
    opacity: 0.5;
    position:absolute;
    display:flex;
    height: 170px;
    width: 298px;
    left:246px;
    top:110px;
    
    border: 1px solid rgba(255,255,255,0.75);
     box-shadow: 2px 2px 52px 0px rgba(255,255,255,0.75), 2px 2px 52px 0px rgba(0, 0, 0, 1) inset;
    -webkit-box-shadow: 2px 2px 52px 0px rgba(255,255,255,0.75),2px 2px 52px 0px rgba(0, 0, 0, 1) inset;
    -moz-box-shadow: 2px 2px 52px 0px rgba(255,255,255,0.75),2px 2px 52px 0px rgba(0, 0, 0, 1) inset;
    transform: skew(-6deg, 8deg);
    /* each value for each corner clockwise starting from top left */
    rotate:-3deg;
    /* each value for each corner clockwise starting from top left */

            border-radius: 22px 7px 10px 22px;
    
}
.nav{
    background-image: url(nav.jpg);
    position:absolute;
    display:flex;
    height: 150px;
    width: 800px;
    left:0px;
    top:600px;
}
.back{
    
    background-image: url(arrow.jpg);
    position:absolute;
    display:flex;
    height: 130px;
    width: 130px;
    left:170px;
    top:610px;
    background-size: contain;
}
.back:hover{
    border-style: ridge;
}
.home{
    
    background-image: url(home.jpg);
    position:absolute;
    display:flex;
    height: 130px;
    width: 130px;
    left:20px;
    top:610px;
    background-size: contain;
}
.home:hover{
    border-style: ridge;
}
.sound{
    
    background-image: url(sound.jpg);
    position:absolute;
    display:flex;
    height: 130px;
    width: 130px;
    left:650px;
    top:610px;
    background-size: contain;
}
.sound:hover{
    border-style: ridge;
}