body {
  background-color: #e7e5e6;
}

.grid-item {
  padding: 0;
  text-align: center;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}

.sticker-item {
  padding: 0;
  text-align: center;
}

.sticker-item img {
  width: 100%;
  height: auto;
  display: block;
}
.wrapper {
  width: 100%;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  }
@media (max-width: 576px) {
  .wrapper {
  width: 100%;
  }
  .justify-content-center {
    justify-content: center !important;
  }
}
.title{
  width:100%;
}
.title img{
  width:80%;
}