
body {
  background-color: #e7e5e6;
}

.grid-item {
  padding: 0;
  text-align: center;
}

.grid-item img {
  width: 59px;
  height: 80px;
  display: block;
}

.sticker-item {
  padding: 0;
  text-align: center;
}

.sticker-item img {
  width: 100%;
  height: auto;
  display: block;
}
.wrapper {
  width: 100%;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  }
@media (max-width: 576px) {
  .wrapper {
  width: 100%;
  }
  .justify-content-center {
    justify-content: center !important;
  }
}
.title{
  margin-top:200px;
  width:100%;
}
.title img{
  width:80%;
}
* {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.prompt-item {
  width:200px;
  padding: 0;
  text-align: center;
}

.prompt-item img {
  width: 200px;
  height: 100px;
  display: block;
}
.next {
  height:25px;
  width: 50px;
  color: #ffffff;
  background-color: #62a0ea;
  font-size: 19px;
  border: 1px solid #2d63c8;

  cursor: pointer
}
.next :hover {
  color: #2d63c8;
  background-color: #ffffff;
}
.prev {
  height:25px;
  width: 50px;
  color: #ffffff;
  background-color: #62a0ea;
  font-size: 19px;
  border: 1px solid #2d63c8;

  cursor: pointer
}
.prev :hover {
  color: #2d63c8;
  background-color: #ffffff;
}