html{
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    overflow:auto;
    font-family:"Pixelated MS Sans Serif",Arial;
    -webkit-font-smoothing:none;
    overflow-x:hidden
    
}
body{
    margin:0;
    font-family:"Pixelated MS Sans Serif",Arial;
    -webkit-font-smoothing:none;
    overflow-x:hidden;
    background-color:black
}
.title{
    font-size:7rem;
    color:rgb(255, 255, 255);
    text-shadow:0 0 5px #000
}
.row{
    margin-right:0;
    margin-left:0;
    --bs-gutter-x:0px!important
}
.blogs{
    overflow-y:scroll;
    overflow-x:hidden;
    height:700px
}
.nav-boxes{
    width:100%!important;
    height:100%!important;
    background-image:url(../547.png);
    overflow-y:auto
}
.side-title{
    width:100%!important;
    height:100px;
    color:#fff;
    background-image:url(../img/skylo.gif);
    text-align:center;
    font-size:30px
}
.blog-wrapper{
    height:100%;
    overflow-x:hidden;
    overflow-y:hidden;
    width:100%;
    background-image:url(../547.png);
    color:#fff
}
@media only screen and (max-width:900px){
    .blog-wrapper{
        width:900px;
        height:100%;
        font-size:2rem
    }
}

.blog-post{
    overflow-y:scroll;
    box-shadow:inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
    background:silver;
    padding:3px;
    text-align:center;
    height:auto;
    width:500px;
    justify-content:center;
    word-wrap:break-word;
    margin-bottom:70px
}
@media only screen and (max-width:900px){
    .blog-post{
        width:300px;
        margin-bottom:40px
    }
}
.gallery-post{
    
    overflow-y:scroll;
    box-shadow:inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
    background:silver;
    padding:3px;
    text-align:center;
    height:auto;
    width:900px;
    justify-content:center;
    word-wrap:break-word;
    margin-bottom:70px
}
@media only screen and (max-width:900px){
    .gallery-post{
        width:300px;
        margin-bottom:40px
    }
}
.blog-title{
    text-align:left;
    color:#b0ccdf;
    background:#86a7c5;
    padding:3px;
    font-size:12px;
    margin:0
}
.blog-date{
    text-align:left;
    color:#9e97c4;
    font-size:12px;
    margin:0
}
.nav-boxes{
    height:50px;
    width:250px
}

.blog-text{
    text-align:center;
    color:#c2ba75;
    background:rgb(97, 67, 114);
    padding:3px;
    font-size:12px;
    margin:0;
    
}
.wrapper{
    overflow-x:hidden;
    justify-content:center;
    padding-bottom:50px;
    padding-top:50px;
    background-image:url(../img/siding.png);
    padding-left:100px;
    padding-right:200px
}
.side-bar{
    width:100px;
    height:100%;
    border:#000;
    background-image:url(../img/pc.png)
}
.title-bar,.window,button,input,label{
    font-size:11px
}
button{
    box-sizing:border-box;
    border:none;
    background:silver;
    box-shadow:inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
    border-radius:0;
    min-width:75px;
    min-height:23px;
    padding:0 12px
}
@media only screen and (max-width:900px){
    .side-bar{
        display:none
    }
    .wrapper{
        width:100%;
        overflow-x:hidden;
        justify-content:center;
        padding-bottom:50px;
        padding-top:50px;
        background-image:url(../img/siding.png);
        padding-left:50px;
        padding-right:50px
    }
}
.img-wrapper{
    height:100vh;
    pointer-events:none
}
.blog-post-img{
    height:100%;
    width:100%;
    pointer-events:none;
    padding:10px
}
.page-num{
    color:#ff9c24;
    text-align:left;
    font-family:'Comic Sans MS';
    font-size:20px;
    padding:5px;
    background:#fff
}
.side-right{
    height:700px;
    width:100%
}
@media only screen and (max-width:900px){
    .side-right{
        display:none
    }
}
@media only screen and (max-width:900px){
    body,html{
        overflow-x:hidden
    }
    body{
        position:relative
    }
    .middle{
        width:300px
    }
}
.bot-button{
    
    width:200px;
}
@media only screen and (max-width:900px){
    .bot-button{
        height:300px;
        width:300px
    }
}
.imgs{
    display:flex;
    justify-content:center;
    width:450px;
    background-size:cover;
    margin:auto
}
#img1{
    height:384px;
    background-image:url(../impimg/img1.png)!important
}
#img2{
    height:350px;
    content:url(../impimg/img2.png)
}
#img3{
    height:350px;
    content:url(../impimg/img3.png)
}
#img4{
    height:350px;
    content:url(../impimg/img4.png)
}
#img5{
    height:350px;
    content:url(../impimg/img5.png)
}
#img6{
    height:350px;
    content:url(../impimg/img6.png)
}
.page-num{
    font-size:12px!important
}
.galleryimgs{
    display:flex;
    justify-content:center;
    height:100%;
    background-size:cover;
    margin:auto
}
#gallery1{
    content:url(../gallery/1.gif)
}
#gallery2{
    content:url(../gallery/2.png)
}
#gallery3{
    content:url(../gallery/3.png)
}
#gallery4{
    content:url(../gallery/4.png)
}
#gallery5{
    content:url(../gallery/5.png)
}
#gallery6{
    content:url(../gallery/6.png)
}
#gallery7{
    content:url(../gallery/7.png)
}
#gallery8{
    content:url(../gallery/8.png)
}
#gallery9{
    content:url(../gallery/9.png)
}
#gallery10{
    content:url(../gallery/10.png)
}
#gallery11{
    content:url(../gallery/11.png)
}
#gallery12{
    content:url(../gallery/12.png)
}
#gallery13{
    content:url(../gallery/13.png)
}
#gallery14{
    content:url(../gallery/14.png)
}
#gallery15{
    content:url(../gallery/15.png)
}
#gallery16{
    content:url(../gallery/16.png)
}
#gallery17{
    content:url(../gallery/17.png)
}
#gallery18{
    content:url(../gallery/18.png)
}
#gallery19{
    content:url(../gallery/19.png)
}
#gallery20{
    content:url(../gallery/20.png)
}
#gallery21{
    content:url(../gallery/21.png)
}
#gallery22{
    content:url(../gallery/22.png)
}
#gallery23{
    content:url(../gallery/23.png)
}
#gallery24{
    content:url(../gallery/24.jpg)
}
#gallery25{
    content:url(../gallery/25.jpg)
}
#gallery26{
    content:url(../gallery/26.jpg)
}
#gallery27{
    content:url(../gallery/27.jpg)
}
#gallery28{
    content:url(../gallery/28.jpg)
}
#gallery29{
    content:url(../gallery/29.jpg)
}
#gallery30{
    content:url(../gallery/30.jpg)
}
#gallery31{
    content:url(../gallery/31.jpg)
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid img {
    max-width: 100%;
    height: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.modal-content img {
    width: auto;
    height: 100%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(54, 141, 69);
    cursor: pointer;
}